<!--The content below is only a placeholder and can be replaced.-->
<div
  ng2FileDrop
  class="custom-component-drop-zone"
  (ng2FileDropFileAccepted)="dragFileAccepted($event)"
>
  <div
    [ngClass]="{beat: state.status.type === 'SPINNING', 'status-indicator': true}"
    [style.backgroundColor]="state.status.colour"
  >
    <h2>{{state.status.type}}</h2>
    <p>{{state.status.message}}</p>
    <star-rating rating="{{lastTransitionRating}}"
      labelText="last transition rating" size="large"
      labelPosition="bottom" staticColor="default" starType="svg">
    </star-rating>
    <dj-dev-controls *ngIf="state.inDevMode">Text to show</dj-dev-controls>
  </div>
</div>
