/* You can add global styles to this file, and also import other style files */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

:focus {outline:0 !important;}

$color-default-rating: #000 !default;
$large-star-width: 70px !default;
$large-star-height: 67px !default;
@import "~css-star-rating/scss/star-rating.scss";